{
  "root": true,
  "extends": [
    "@xylabs"
  ],
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [
          "*/img/**",
          "source-map-support/**",
          "lodash/**"
        ]
      }
    ]
  }
}
