node_modules/
.serverless/
.webpackCache/
files/
dist/
kube/
.env
.env.dev
.env.production
.env.ecs
androidSubscriptionKey.ts
serviceAccount.json
serviceAccount.ts
yarn-error.log
.rpt2_cache
/bindings/
tmp/

.DS_Store
.webpack
build
.build
sdk
