name: Build (main)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      YARN_CACHE_FOLDER: ./.yarn/cache
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"
      - name: install
        run: yarn install
      - name: build
        run: yarn build
      - name: copy env file
        run: yarn copyfiles .example.env .env
      - name: setup test environment
        run: docker compose up -d
      - name: test
        run: yarn test
      - name: bring down test environment
        run: docker compose down
